@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
/* write your css here */
/* .button{
    color:green
} */
/* .App-Header {
    background-color: var(--body_background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--body_color);
}

.App-link{
    color: var(--link_color);
} */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;


}

.app{
    height: 100vh;
    width: 100vw;
    background:  #222;
    transition: 0.5s;
}

/* .app.dark{
    background-color: #222;;
} */

.navbar{
    position: relative;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    /* background: #891F49; */
    display: flex;
    flex:row;
    justify-content:space-between;
    padding: 15px 7%;
    transition: 0.5s;
    overflow-y: hidden;
}

.dark.navbar{
    background: #2c2b2b;

}

.majorList{
    position: absolute;
    top: 40%;
    left: 40%;

}

    /* background-color: #2c2b2b;
    color:white;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px; */
    /* body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #5CA4EA;
        overflow: hidden;
        font-family: 'Lato', sans-serif;
      } */

      /*-----------------------------login button------------------------------ */
.loginBtn{
    position: absolute;
    top: 30%;
    left: 70%;
    margin-top: 2%;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.loginBtn:hover,
.loginBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.loginBtn:hover{
    transform: translateY(-1px);
}
.loginBtn.dark{
    color: white;
}
.loginBtn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

  /*-------------------------------loginBtn dark mode------------------------------*/
  .loginBtn.dark{

  }

  /*----------------------------------singup buttonnn---------------------------------------*/

.signupBtn{
    position: absolute;
    top: 27%;
    left: 77% ;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  width: 9%;
  outline: none;
  padding: 14px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.signupBtn:disabled {
    pointer-events: none;
  }
  .signupBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  .signupBtn:active {
    box-shadow: none;
    transform: translateY(0);
  }

.logoutBtn{
    font-family: sans-serif;
    position: absolute;
    top: 10%;
    left: 70%;
    margin-top: 2%;
    /* background-color: rgb(144,78,78);
    color: white;
    outline: auto;
    padding: 7px 10px 7px 10px;
    border-radius: 2%;
    transition: all 0.5s;  */
    
}
.logoutBtn:hover{
    background-color: rgb(107,29,29);
    color: white;
}

.dark.navbar.logo{
    color:white;
}